<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dr8.xposedmtc"
    android:versionCode="167"
    android:versionName="1.4.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/xposedmtc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="30+" android:name="xposedminversion"/>
        <meta-data android:value="Mods for Huifei/Klyde/Roadmaster/HotAudio headunits" android:name="xposeddescription"/>
        <activity android:name=".activities.PrefsActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Music"
            android:noHistory="true"
            android:icon="@drawable/menu_ico_music"
            android:label="@string/music_app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Radio"
            android:noHistory="true"
            android:icon="@drawable/menu_ico_fm"
            android:label="@string/radio_app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Video"
            android:noHistory="true"
            android:icon="@drawable/menu_ico_video"
            android:label="@string/video_app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name="BackView"
            android:label="@string/backview_name" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:icon="@drawable/ic_backview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <receiver 
            android:enabled="true" 
            android:name=".receivers.StatusReceiver" 
            android:exported="true">
            <intent-filter>
                <action android:name="com.maxmpz.audioplayer.STATUS_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver 
            android:enabled="true" 
            android:name=".receivers.AutostartReceiver" 
            android:exported="true">
            <intent-filter
                android:priority="100">
                <action android:name="android.intent.action.PRE_BOOT_COMPLETED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver 
            android:enabled="true" 
            android:name=".receivers.ServiceIntentReceiver" 
            android:exported="true">
            <intent-filter>
                <action android:name="com.dr8.xposedmtc.START_SERVICE"/>
                <action android:name="com.dr8.xposedmtc.STOP_SERVICE"/>
            </intent-filter>
        </receiver>
        <service 
            android:name=".services.SunriseService" 
            android:exported="false" 
            android:enabled="true">
        </service>
        
    </application>

</manifest>
